body{
    margin: 0px;
    padding: 0px;
   
}

#topbar{
    font-size: 11px;
    background-color: rgb(46, 43, 43);
    
    color: rgb(142, 140, 140);
   
}

#header{
background-color: black;
font-size:200%;
color: rgb(230, 230, 230);
}


#navbar{
    background-color: black;
    color: white;
    

}

#banner{
    background-image: url("images/pic-2.jpg");
    background-size: cover;
    background-repeat: none;
    height: 600px;
    font-size: 130px;
    font-weight: 800;
    color: white;
    
}

.image{
    width: 80%;
    height: 250px;
}

#footer{
    background-color: rgb(45, 43, 43);

}

#footer form input{
    background-color: rgb(45, 43, 43);
    border: none;
    border-bottom: 3px solid grey;
    width: 70%;
    padding: 4px;
   
}

#footer-1{
    background-color: black;
    color: white;
  
}






